# Rule for programing

- REACT (VITE) + TAILWIND + shadcn UI.
- ESM Imports (`import/export`).
- Use `useEffect` for data simulation. Hardcode JSON inside the hook.
- Component structure: `const App = () => { ... }`.
- Brief comments: `// {meaning of the functions}`.
- Logic separation: Keep UI and Data Mocking clean.
- Custom http request with axios, return { get, put, post, detele }
- Use React-Redux, reeact persis to store in local storage
- Use useDebounce, useInfinityLoad
- Port: 5173.
- Always check `memory-bank/` before coding.
- Update `STATE.md` after finishing a task.
